In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
plt.style.use("ggplot")

## Data understanding

In [3]:
df_ais = pd.read_csv('../Project materials(1)/ais_train.csv', sep='|')
df_ais.head()
df_ais['time'] = pd.to_datetime(df_ais['time'])

df_ais.shape
#n = 1522065
#columns = 11
df_ais.columns
#latitude and longitude are our targets. Relevant covariates may be time, cog, sog, rot, heading, navstat, etaRAW, vesselId and portId.

df_ais.dtypes
#time, cog, latide and longitude are floats. Rot, heading and navstat are ints. etaRaw, vesselId and portId are objects. 

df_ais.describe()
#cog: course over ground. From 0 to 360 degrees.
#sog: speed over ground. from 0 to 1023 knots. 
#rot: rate of turning (of heading, which is the compass direction of where the boats bow/nose is heading). Degrees per minute.
#heading: direction of where boats bow is pointing. Measured in degrees from 0 to 360.
#navstat: Navigational status. The number tells the status of the boat. From 0 to 15.
#latitude: north-south position. Degrees. From -90 (south) to +90 (north). 
#longitude: east-west position. Degrees. From -180 (west) to +180 (east)

,time,cog,sog,rot,heading,navstat,latitude,longitude
count,1522065,1.522065e+06,1.522065e+06,1.522065e+06,1.522065e+06,1.522065e+06,1.522065e+06,1.522065e+06
mean,2024-03-06 03:20:23.657231360,1.782494e+02,6.331703e+00,5.054561e-01,1.762737e+02,2.092604e+00,3.658497e+01,1.153646e+01
min,2024-01-01 00:00:25,0.000000e+00,0.000000e+00,-1.270000e+02,0.000000e+00,0.000000e+00,-4.753287e+01,-1.675409e+02
25%,2024-02-03 02:59:19,7.820000e+01,0.000000e+00,0.000000e+00,7.500000e+01,0.000000e+00,3.451683e+01,-5.212810e+00
50%,2024-03-07 12:34:57,1.838000e+02,5.000000e-01,0.000000e+00,1.800000e+02,0.000000e+00,4.223370e+01,4.234350e+00
75%,2024-04-07 07:37:36,2.690000e+02,1.410000e+01,0.000000e+00,2.650000e+02,5.000000e+00,5.135197e+01,1.883715e+01
max,2024-05-07 23:59:08,3.600000e+02,1.023000e+02,1.280000e+02,5.110000e+02,1.500000e+01,7.055720e+01,1.788054e+02
std,NaN,1.076785e+02,7.539364e+00,1.760916e+01,1.070860e+02,2.411965e+00,2.290488e+01,6.871572e+01

## Data preparation

### Documentation of exploring estimated arrival times (don't run this!)

In [8]:
#Double-checking types of our columns.
#etaRAW should be a date since this is estimated time of arrival.
df_ais['etaRaw']

print(df_ais['etaRaw'][1:3])

def parse_time(raw_time):
    try:
    
        # Define the format without the year
        date_format = "%m-%d %H:%M"
    
        # Parse the cleaned string into a datetime object
        parsed_datetime = datetime.strptime(raw_time, date_format)

        # Add the correct year (2024)

        return parsed_datetime.replace(year = 2024)
    
    except ValueError:
        return None


df_ais['etaParsed'] = df_ais['etaRaw'].apply(parse_time)

#Want to ensure that the eta is the latest date. Checking how many instances I have of december.

december_count = df_ais[df_ais['etaParsed'].dt.month == 12].shape[0]

total_count = df_ais.shape[0]


print(f"Number of instances in December: {december_count/total_count}")

#Checking if I have instances of the etaParsed is later than time.

df_ais['later'] = df_ais['etaParsed'] > df_ais['time']

#November and later:
df_ais['later'] = df_ais['etaParsed'] > df_ais['time']

df_coolio = df_ais[df_ais['later'] == True].copy()

#Checking if there is any instances where etaParsed is in november
df_coolio[df_coolio['vesselId'] == '61e9f3a8b937134a3c4bfdf7'].head(10)

df_coolio_nov = df_coolio[df_coolio['etaParsed'].dt.month == 9].copy()

df_coolio_nov[df_coolio_nov['vesselId'] == '61e9f42eb937134a3c4c0103'].tail(40)

df_ais[df_ais['vesselId'] == '61e9f42eb937134a3c4c0103'].head(10)

#NOt fruitful

"""

later_count = df_ais[df_ais['later']  == False].shape[0]

print(f"Number of instances where time is later than eta: {later_count}")
df_ais[df_ais['later']  == False].head()

#I have instances where time is later than eta if I do this solution. 

#So when later is False I want to ensure that the year of etaParsed is 2025.

def adjust_year(time1,time2):
    if time1 <= time2:
        return time1.replace(year = 2025)
    return time1

df_ais['etaParsed'] = df_ais.apply(lambda row: adjust_year(row['etaParsed'], row['time']), axis = 1)
df_ais[df_ais['later']  == False].head() #It's fixed
yess
"""

1    12-29 20:00
2    01-02 09:00
Name: etaRaw, dtype: object
Number of instances in December: 0.01564913456389839

'\n\nlater_count = df_ais[df_ais[\'later\']  == False].shape[0]\n\nprint(f"Number of instances where time is later than eta: {later_count}")\ndf_ais[df_ais[\'later\']  == False].head()\n\n#I have instances where time is later than eta if I do this solution. \n\n#So when later is False I want to ensure that the year of etaParsed is 2025.\n\ndef adjust_year(time1,time2):\n    if time1 <= time2:\n        return time1.replace(year = 2025)\n    return time1\n\ndf_ais[\'etaParsed\'] = df_ais.apply(lambda row: adjust_year(row[\'etaParsed\'], row[\'time\']), axis = 1)\ndf_ais[df_ais[\'later\']  == False].head() #It\'s fixed\nyess\n'

### Actual useful stuff

In [4]:
def parse_time(raw_time):
    try:
    
        # Define the format without the year
        date_format = "%m-%d %H:%M"
    
        # Parse the cleaned string into a datetime object
        parsed_datetime = datetime.strptime(raw_time, date_format)

        # Add placeholder year 2024.

        return parsed_datetime.replace(year = 2024)
    
    except ValueError:
        return None


df_ais['etaParsed'] = df_ais['etaRaw'].apply(parse_time)

#Sets all years to 2024, because not able to determine which years estimated arrival time should be.

In [5]:
df_ais.drop(['etaRaw'], axis = 1)

df_ais.isna().sum() #Estimated arrival time (1615 entries) and portId (1615 entries)

df_ais.loc[df_ais.duplicated()] #No duplicated rows

Empty DataFrame
Columns: [time, cog, sog, rot, heading, navstat, etaRaw, latitude, longitude, vesselId, portId, etaParsed]
Index: []

In [7]:
df_ids = df_ais['vesselId']

df_ids = df_ids.drop_duplicates().copy()

df_ids.head()

df_ais.head(30)

,time,cog,sog,rot,heading,navstat,etaRaw,latitude,longitude,vesselId,portId,etaParsed
0,2024-01-01 00:00:25,284.0,0.7,0,88,0,01-09 23:00,-34.74370,-57.85130,61e9f3a8b937134a3c4bfdf7,61d371c43aeaecc07011a37f,2024-01-09 23:00:00
1,2024-01-01 00:00:36,109.6,0.0,-6,347,1,12-29 20:00,8.89440,-79.47939,61e9f3d4b937134a3c4bff1f,634c4de270937fc01c3a7689,2024-12-29 20:00:00
2,2024-01-01 00:01:45,111.0,11.0,0,112,0,01-02 09:00,39.19065,-76.47567,61e9f436b937134a3c4c0131,61d3847bb7b7526e1adf3d19,2024-01-02 09:00:00
3,2024-01-01 00:03:11,96.4,0.0,0,142,1,12-31 20:00,-34.41189,151.02067,61e9f3b4b937134a3c4bfe77,61d36f770a1807568ff9a126,2024-12-31 20:00:00
4,2024-01-01 00:03:51,214.0,19.7,0,215,0,01-25 12:00,35.88379,-5.91636,61e9f41bb937134a3c4c0087,634c4de270937fc01c3a74f3,2024-01-25 12:00:00
5,2024-01-01 00:05:13,186.9,0.0,0,187,5,12-20 02:40,24.27431,-110.32727,61e9f468b937134a3c4c028f,61d37ac11366c3998241da0a,2024-12-20 02:40:00
6,2024-01-01 00:05:40,123.4,0.0,128,511,5,12-16 01:00,40.71466,29.46603,61e9f46bb937134a3c4c02b3,61d38259b7b7526e1adf3a41,2024-12-16 01:00:00
7,2024-01-01 00:05:49,151.2,0.0,0,20,5,12-31 18:30,-19.25026,146.83507,61e9f3bfb937134a3c4bfe9f,61d36f6e0a1807568ff9a115,2024-12-31 18:30:00
8,2024-01-01 00:06:18,265.0,0.1,0,122,1,12-30 19:00,-26.73068,153.29194,61e9f45bb937134a3c4c0221,61d36f640a1807568ff9a103,2024-12-30 19:00:00
9,2024-01-01 00:06:29,36.0,0.0,0,70,5,12-30 19:55,35.46922,139.68343,61e9f3e6b937134a3c4bff6d,61d379f61366c3998241d8d2,2024-12-30 19:55:00
10,2024-01-01 00:07:40,14.5,0.1,0,298,1,12-31 01:30,41.34341,-71.31169,61e9f3c9b937134a3c4bfef5,61d384afb7b7526e1adf3d7e,2024-12-31 01:30:00
11,2024-01-01 00:08:35,114.5,0.0,0,275,5,01-03 13:30,43.44238,-3.82316,clh6aqawa0002gh0zypfa5dut,61d37fb929b60f6113c89ea0,2024-01-03 13:30:00
12,2024-01-01 00:08:55,194.4,7.8,23,206,0,12-31 23:59,51.58938,2.64705,61e9f3adb937134a3c4bfe39,61d36f990a1807568ff9a155,2024-12-31 23:59:00
13,2024-01-01 00:09:17,267.9,0.0,0,163,5,12-30 12:45,-37.84186,144.90398,61e9f3b1b937134a3c4bfe55,61d36f5f0a1807568ff9a0fa,2024-12-30 12:45:00
14,2024-01-01 00:10:08,35.0,18.4,0,34,0,01-05 17:00,23.82974,-16.99551,61e9f3c6b937134a3c4bfecd,61d36f9a0a1807568ff9a156,2024-01-05 17:00:00
15,2024-01-01 00:10:31,236.9,0.1,-3,323,5,12-25 15:00,40.72221,29.48063,61e9f3c6b937134a3c4bfed5,61d38259b7b7526e1adf3a41,2024-12-25 15:00:00
16,2024-01-01 00:10:36,264.4,6.5,-19,266,0,01-16 01:00,43.81020,-8.53830,61e9f3aab937134a3c4bfe0b,61d37fab29b60f6113c89e84,2024-01-16 01:00:00
17,2024-01-01 00:11:16,61.9,0.1,8,108,1,12-28 05:00,-26.77612,153.23435,61e9f3acb937134a3c4bfe23,61d36f640a1807568ff9a103,2024-12-28 05:00:00
18,2024-01-01 00:12:21,11.0,10.0,9,9,0,01-01 07:00,41.27383,-9.22526,61e9f3c9b937134a3c4bfef7,61d37fbc29b60f6113c89ea6,2024-01-01 07:00:00
19,2024-01-01 00:12:34,185.4,0.0,0,317,5,12-30 20:00,-23.95987,-46.29804,61e9f3c4b937134a3c4bfec3,61d36fdf0a1807568ff9a1b0,2024-12-30 20:00:00
20,2024-01-01 00:12:37,339.7,0.0,0,239,5,12-31 20:00,59.82110,22.95337,61e9f464b937134a3c4c0263,634c4de270937fc01c3a72ab,2024-12-31 20:00:00
21,2024-01-01 00:12:53,319.4,12.3,0,325,0,10-31 11:30,18.80632,-66.36373,61e9f3aab937134a3c4bfe13,61d37db099db2ccf7339efce,2024-10-31 11:30:00
22,2024-01-01 00:12:56,332.8,13.7,-9,332,0,01-14 22:00,-30.21228,114.32534,61e9f3b4b937134a3c4bfe73,634c4de270937fc01c3a7014,2024-01-14 22:00:00
23,2024-01-01 00:13:20,13.0,0.1,0,104,5,12-31 13:30,44.40750,8.91483,61e9f463b937134a3c4c0259,61d3781393c6feb83e5eb73c,2024-12-31 13:30:00
24,2024-01-01 00:13:24,202.5,0.0,0,96,5,12-19 16:42,53.33566,7.20093,61e9f3f3b937134a3c4bffa9,61d375e893c6feb83e5eb3e4,2024-12-19 16:42:00
25,2024-01-01 00:13:24,267.0,0.0,0,63,5,12-30 05:00,45.55133,13.73575,61e9f440b937134a3c4c0181,61d37ee629b60f6113c89d04,2024-12-30 05:00:00
26,2024-01-01 00:13:26,358.9,0.0,0,289,5,12-30 19:00,51.88025,4.42177,61e9f414b937134a3c4c005f,61d37be499db2ccf7339ecc5,2024-12-30 19:00:00
27,2024-01-01 00:13:30,339.1,0.2,0,208,1,12-27 03:00,53.92160,7.80515,61e9f40eb937134a3c4c0043,634c4de270937fc01c3a7328,2024-12-27 03:00:00
28,2024-01-01 00:13:33,41.9,16.6,0,43,0,01-02 04:45,55.33025,14.57044,61e9f464b937134a3c4c0265,61d373ac3aeaecc07011a616,2024-01-02 04:45:00
29,2024-01-01 00:13:41,44.6,0.0,0,148,5,12-31 13:00,39.21005,9.10332,61e9f467b937134a3c4c0287,61d3781b93c6feb83e5eb74d,2024-12-31 13:00:00